.example-icon {
    padding: 0 14px;
  }
  /* #docregion toolbar-position-content-style */
  .example-spacer {
    flex: 1 1 auto;
  }

  html, body { width: 100%; height: 100%; margin: 0 auto; text-align: center; }